body {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

main {
    grid-column: 1 / 2;
}
.button{
    margin: 12px;
    border-radius: 12px;
    height: 50px;
    font-size: large;
}


.regler {
    font-family:sans-serif;
    grid-column: 2 / 3;
    background-color: darkgreen;
    height: 100dvh;
    padding: 20px;
    border-radius: 12px;
}